@use '../../../styles/mixin.scss';

.DashboardMain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px 0;

  @include mixin.mediaQuery ('spOnly') {
    grid-template-columns: repeat(2, 1fr);
  }

  &__card {
    max-width: 350px;
  }
}