$Main: #C76E5C;
$cSub: #FFFFA6;

.Header {
  background-color: $Main;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__inner {
    padding: 0 10px;
  }

  &__iconWrapper {
    cursor: pointer;
  }
}
