$Main: #C76E5C;

.Login {
  padding: 40px 20px;
  margin: 0 auto;
  width: 70vw;
  text-align: center;

  &__inputArea {
    padding: 30px 0;
  }

  &__innerWrapper {
    padding: 10px 0;
  }

  &__errorArea {
    padding: 10px 0;
    height: 20px;
  }

  &__error {
    color: red;
  }
}