.NewRestaurant {
  padding: 0 20px;

  &__content {
    margin: 30px 10px;
    text-align: center;
  }

  &__buttonArea {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
