$Main: #C76E5C;
$cHover: #f0f8ff;

.YakitoriTable {
  width: 90vw;
  margin: 15px auto;

  &__head {
    padding: 20px 10px;
    border-bottom: 1px solid #bbb;
  }

  &__content {
    padding: 10px;
  }

  &__iconWrapper {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;

    &:hover {
      background-color: $cHover;
      cursor: pointer;
    }

    &:disabled {
      background-color: #bbb;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
