$cSub: #FFFFA6;

.DashboardCard {
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: $cSub;
  cursor: pointer;

  &__mainContent {
    text-align: center;
    padding: 20px 0;
  }

  &__lowerContent {
    padding: 20px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
}
