@use '../../../styles/mixin.scss';
$cHover: #f0f8ff;

.Nav {
  width: 200px;
  padding: 5px;
  background-color: #fff;

  &__lists {
    width: 100%;
  }
  &__list {
    height: 40px;
    margin: 5px 0 0;
  }

  &__icon {
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
  }

  &__button {
    height: 100%;
    width: 100%;
    transition: all 0.2s;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    color: #000;

    &:hover {
      background-color: $cHover;
      cursor: pointer;
    }
  }
}