@use '../../../styles/mixin.scss';

.label {
  display: inline-block;
  text-align: left;
  margin: 0 15px 0 0;
  min-width: 100px;

  @include mixin.mediaQuery ('spOnly') {
    display: block;
    margin: 0 10px 15px 0;
  }
}

.must {
  padding: 0 0 0 5px;
  color: red;
}