$Main: #C76E5C;
$cSub: #FFFFA6;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Header {
  position: sticky;
  background-color: $Main;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__inner {
    padding: 0 10px;
  }

  &__iconWrapper {
    cursor: pointer;
  }

  &__navArea {
    position: absolute;
    top: 55px;
    right: 5px;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
}
